

<!---->
<section class="destacados">
  <h2 class="subtitulo"  >PRODUCTOS DE ALQUILER DESTACADOS</h2>
  <h1 class="titulo">LOS MÁS ELEGIDOS</h1>

  <div class="productos-grid"> 
    <div class="producto" *ngFor="let item of productos">
      <span class="oferta">10% DE DESCUENTO</span>
      <img [src]="item.imagenUrl" [alt]="item.nombre">
      <!--<span class="incluye">Incluye casco + antiparras ¡GRATIS!</span>-->
      <h3  >{{ item.nombre }}</h3>
      <p class="precio">
        Alquiler <span>$ {{ item.precio | number:'1.0-2' }}</span>
        
      </p>
      <a href="https://wa.me/5492944501777?text=%C2%A1Hola%20quiero%20mas%20informacion%20del%20alquiler%21%20y%20los%20traslados%21" class="cta-a">Realizar Reserva</a>
    </div>
  </div>
</section>