<section class="como-funciona">
  <h2>¿Cómo reservo mi equipo?</h2>
  <ol class="reveal-left" appAppScrollReveal>
    <li>📱 Elegí tus productos destacados</li>
    <li >📞 Contactanos por WhatsApp</li>
     <li> ❄️Confirma tu reserva y las fechas</li>
    <li >🎿 Retirá en el punto de entrega más cercano</li>
  </ol>

</section>



<section class="formas-pago">
  <h2>Medios de pago</h2>
  <div class="logos-pago">
    <img src="/assets/img/logos/mercadopago2.png" alt="Mercado Pago" />
    <img src="/assets/img/logos/visa2.png" alt="Visa" />
    <img src="/assets/img/logos/mastercar.png" alt="Mastercard" />
    <img src="/assets/img/logos/uala.png" alt="Tarjeta Naranja" />
    <img src="/assets/img/logos/naranja.png" alt="Cabal" />

  </div>
</section>
