
<section class="cta-container">
  <div class="cta-images">
    <img src="assets/img/fondos/bariloche.jpg"  alt="img1">
    <img src="assets/img/fondos/fondo10.jpg" alt="img2">
    <img src="assets/img/fondos/fondo7.jpg" alt="img3">
    <img src="assets/img/fondos/snownieve.jpg" alt="img4">
  </div>
  <div class="cta-text">
    <h2>¿Estás listo para disfrutar tu dia en la nieve?</h2>
    <p>
      
    </p>
  
     

     <a href="https://wa.me/5492944501777?text=%C2%A1Hola%20quiero%20mas%20informacion%20del%20alquiler%21%20y%20los%20traslados%21" class="cta-a">Reserva viajes y mas</a>
    
  </div>
</section>
