


<!--
<footer class="footer-section">
  <div class="wrap-footer-section">
    Redes sociales removidas 
    <p>Redes sociales (aquí irían los íconos)</p>
  </div>

  <div class="menu-footer-section">
    <div class="wrap-menu-footer-section">
      
     
      <ul>
        <li><a href="#">Redes sociales</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </div>



  <div class="menu-footer-section" id="footer">
    <div class="footer-creds">
      <p>©copyright 2025-Snow Ski-Todos los derechos reservados.</p>
      <a href="https://wa.me/542616921356"> <img src="assets/img/logos/whatsapp-line.png"></a>
    </div>
  </div>
</footer>
-->
<footer class="footer" >
  <div class="reveal-top" appAppScrollReveal>
    <img src="assets/img/logos/logoamarillo.png" alt="Logo" class="footer-logo" />
  </div>
<div class="footer-center" l>
  <h3 class="reveal-top"  appAppScrollReveal>Sucursales</h3>
  <div class="sucursal">
    <h4 class="reveal-top" appAppScrollReveal>
  <a href="https://maps.app.goo.gl/yQBk3Fuo9PXJvZaF6" target="_blank">
    <img src="assets/img/logos/googlemaps.png" alt="Ver en Google Maps" class="icon-map" />
    Bariloche  Quaglia 146
  </a>
</h4>

    <h4 class="reveal-top"  appAppScrollReveal>
       <a href="https://maps.app.goo.gl/zVAqVMuxSTtdyYTZ9" target="_blank">
       <img src="assets/img/logos/googlemaps.png" alt="Ver en Google Maps" class="icon-map" />
      Las Heras 555, Ciudad Mendoza
     
       
      </a>
    </h4>
    <h4 class="reveal-top"  appAppScrollReveal>
      <a href="https://maps.app.goo.gl/sq65K7NBniM2tRQD9" target="_blank">
       <img src="assets/img/logos/googlemaps.png" alt="Ver en Google Maps" class="icon-map" />
      San Rafael, Ballofet 28
      
       
      </a>
    </h4>
    <h4 class="reveal-top" appAppScrollReveal>
        <a href="https://maps.app.goo.gl/vUnyuRLQvxjuS1eD7" target="_blank">
       <img src="assets/img/logos/googlemaps.png" alt="Ver en Google Maps" class="icon-map" />
      San Rafael, Ballofet 54
    
        
      </a>
    </h4>
    <h4 class="reveal-top" appAppScrollReveal>
       <a href="https://maps.app.goo.gl/L1Qi6BstqtifXd3c6" target="_blank">
       <img src="assets/img/logos/googlemaps.png" alt="Ver en Google Maps" class="icon-map" />
      Malargüe, San Martín 462
     
        
      </a>
    </h4>
  </div>
</div>

  <div class="footer-right">
    <h4 class="reveal-top" appAppScrollReveal>Contacto y Redes</h4>
    <p class="reveal-top"  appAppScrollReveal>Teléfono: +54 9 261 5878780</p>
    <div class="redes"appAppScrollReveal>
      <a href="https://www.facebook.com/profile.php?id=100017571810741" target="_blank" rel="noopener">
        <img src="assets/img/logos/facebook.png" alt="Facebook" class="icon-red" />
      </a>
      <a href="https://www.instagram.com/snowskimendoza/" target="_blank" rel="noopener">
        <img src="assets/img/logos/instagram.png" alt="Instagram" class="icon-red" />
      </a>
      <a href="https://wa.me/542615878780" target="_blank" rel="noopener">
        <img src="assets/img/logos/logow.png" alt="WhatsApp" class="icon-red" />
      </a>
    </div>
  </div>
</footer>
