<section class="experiencia">
  <h2 class="reveal-bottom" appAppScrollReveal>Nuestra experiencia</h2>
  <p class="reveal-bottom" appAppScrollReveal>
    Con más de 4 décadas en el rubro, en <strong>Snow Ski</strong> somos pioneros en el alquiler de indumentaria para nieve en Mendoza y la Patagonia. Miles de turistas han confiado en nosotros para equiparse con seguridad, calidad y comodidad. ¡Sabemos lo que hacemos y nos apasiona el invierno!
  </p>
</section>

<section class="estadisticas">
  <div class="estadistica">
    <h3 class="reveal-left" appAppScrollReveal>+37</h3>
    <p class="reveal-left"  appAppScrollReveal>Temporadas de experiencia</p>
  </div>
  <div class="estadistica">
    <h3  class="reveal-left"appAppScrollReveal>+10.000</h3>
    <p class="reveal-left"  appAppScrollReveal>Clientes felices</p>
  </div>
  <div class="estadistica">
    <h3 class="reveal-left"  appAppScrollReveal>4</h3>
    <p class="reveal-left" appAppScrollReveal>Sucursales</p>
  </div>
</section>
